/* Header section */
body {
}


/* Main content */
.homepage-bg {
    height: calc(100vh - 139px);
    width: 100%;
    object-fit: cover;
}

/* About section */
section {
}

.section-title {
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
    margin: 60px 0 60px;
}

.sub-heading {
    display: inline-block;
    font-size: 1.6rem;
    color: var(--gray-text-color);
    font-weight: 600;
    position: relative;
}

.sub-heading::before {
    width: 80px;
    position: absolute;
    left: 50%;
    top: -20px;
    transform: translateX(-50%);
    background-color: var(--pink-text-color);
    height: 4px;
    content: "";
}

.heading {
    font-size: 2rem;
}

.about{
    padding: 0 10%;
    margin-bottom: 80px;
}

.about-content {
    display: flex;
    justify-content: space-between;
}

.about-content-col:first-child {
    width: 47%;
}

.about-content-col:first-child img {
    width: 100%;
    height: 550px;
    object-fit: cover;
    display: block;
}

.about-content-col:nth-child(2) {
    width: 23%;
}

.about-content-col:nth-child(2) iframe,
.about-content-col:nth-child(2) img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
}

.about-content-col:nth-child(3) {
    width: 23%;
    text-align: center;
}

.about-content-col:nth-child(3) img {
    width: 100%;
    object-fit: cover;
    display: block;
}

.about-content-col>p {
    text-align: initial;
    font-size: 1.6rem;
    color: var(--pink-text-color);
    background-color: var(--dark-bg-color);
    margin: 0;
    padding: 20px 0 20px 14px;
}

.about-content-col__trip-info {
    background-color: var(--dark-bg-color);
    font-size: 1.6rem;
    padding-bottom: 20px;
}

.about-content-col__trip-info>p {
    color: var(--pink-text-color);
    text-align: center;
    font-weight: 600;
    padding: 32px 0 16px;
}

.about-content-col__trip-info>div {
    padding: 0 28px 12px;
    color: white;
    font-size: 1.4rem;
    text-align: initial;
    line-height: 2.4rem;
}

.about-content-col__trip-info>div i {
    width: 20px;
    font-size: 1.8rem;
}

.book-btn {
    padding: 12px 24px;
    background-color: var(--pink-text-color);
    color: white;
    font-size: 1.8rem;
    font-weight: 500;
    border-radius: 8px;
    border: none;
    outline: none;
    margin-top: 24px;
}
.book-btn:hover {
    opacity: 0.7;
    cursor: pointer;
}

/* Exhibition section */
.exhibition {
    padding: 10px 10% 60px;
    background-color: var(--dark-bg-color);
}

.exhibition .heading {
    color: white;
}

.exhibition-container {
    display: inline-block;
    display: flex;
    justify-content: space-between;
}

.exhibition-item {
    width: 25%;
    font-size: 1.6rem;
}

.exhibition-item img {
    width: 100%;
    height: 182px;
    object-fit: cover;
    margin-bottom: 16px;
}

.exhibition-category {
    color: var(--pink-text-color);
}

.exhibition-item__date {
    color: var(--gray-text-color);
    font-weight: 600;
}

.exhibition-item__title {
    color: white;
    line-height: 2.4rem;
}
.exhibition-item__title:hover {
    cursor: pointer;
    color: var(--pink-text-color)
}
